/* A instância do CodeMirror se adapta ao container */
.CodeMirror {
  height: 100% !important;
  min-height: 300px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #333;
}

.linha-erro {
  background: rgba(255, 0, 0, 0.15);
}
